- provide :title, 'Quadratic equations'

= render 'equation', type: :quadratic, fields: ['coefficient_a', 'coefficient_b', 'coefficient_c'] do
  ' In algebra, a
  strong
    ' quadratic equation
  ' is any equation having the form `ax^2+bx+c=0`
  ' where `x` represents an unknown, and `a`, `b`, and `c` represent known numbers such that `a` is not equal to 0.
  ' If `a = 0`, then the equation is linear, not quadratic. The numbers `a`, `b`, and `c` are the coefficients of
  ' the equation, and may be distinguished by calling them, respectively, the quadratic coefficient, the
  ' linear coefficient and the constant or free term.
